:root {
    --main-font: 'Karla';
    --secondary-font: 'Lusitana';
    --feature-font: 'Rock Salt';
    --main-colour: #f2f2f2;
    --secondary-colour: #181515;
    --feature-colour: #f7bb60;
    --text-color-main: #302e2e;
}

.menu-bar {
    font-family: var(--main-font);
}

.active {
    color: var(--feature-colour) !important;
    font-weight: bold;
}

.bg-custom {
    background-color: var(--main-colour);
}

.bg-black {
    background-color: var(--secondary-colour);
}

.intro-container {
    width: fit-content;
}

.intro-text {
    color: var(--main-colour);
    font-family: var(--secondary-font);
}

.name {
    font-size: 70px;
}

.profile-image {
    width: 226px;
    height: 226px;
}

.learn-more-btn {
    color: var(--feature-colour);
    font-family: var(--main-font);
    font-size: 15px;
    text-decoration: none;
}

.learn-more-btn:hover {
    color: #f3c98a;
    cursor: pointer;
    text-decoration: underline;
}

.sub-text {
    font-family: var(--feature-font);
    color: var(--text-color-main);
    font-size: 35px;
}

.description-text {
    font-family: var(--main-font);
    color: var(--text-color-main);
}

footer {
    background-color: var(--secondary-colour);
    text-align: center;
    padding: 30px 0;
}

.project-img {
    max-width: fit-content;
    height: auto;
}

.footer-text {
    color: var(--feature-colour);
    font-family: var(--feature-font);
    font-size: 35px;
}

.email {
    font-family: var(--main-font);
    color: var(--main-colour);
    font-style: normal;
    text-decoration: none;
}

.email:hover {
    color: #f3c98a;
    text-decoration: underline;
}

.heading {
    text-align: center;
    padding: 50px;
}

.profile-container {
    margin: 50px 150px;
}

.add-picture {
    display: block;
    margin: 0 auto;
    width: 500px;
    padding-top: 20px;
}

.proj-cont {
    padding: 20px;
    margin: 10px 100px;
    border-bottom: 3px solid var(--feature-colour);
}

.orange-text {
    color: var(--feature-colour);
}

.box-height {
    height: 300px;
}

.project-pic {
    display: block;
    margin: 0 auto;
    width: 400px;
}

@media (max-width: 600px) {
    .name {
        font-size: 50px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    .center-media {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .sub-text {
        font-size: 20px;
    }

    .footer-text {
        font-size: 20px;
    }

    .email {
        font-size: 15px;
    }

    .profile-container {
        margin: 5px !important;
    }

    .proj-cont {
        margin: 10px;
    }
}
